<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="site">
    <meta name="author" content="raphael martinez batista">
    <title>GRÁFICA CANASTRA | Portal</title>
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body id="page-top sidebar">
    <div id="wrapper  ">
        <div id="content-wrapper " class="d-flex flex-column">
            <header>
                <nav class="navbar navbar-expand navbar-dark bg-gradient-primary sticky-top topbar shadow mb-4"
                    id="mainNav">
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard.html">
                        <div class="mb-2 sidebar-brand-icon mx-auto">
                            <img src="../img/logo.png" width="130"  alt="Ansa Logo">
                        </div>
                    </a>
                    <hr class="sidebar-divider my-0">
                    <a class="menuPrincipal navbar-toggler-icon" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"></a>

                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                placeholder="Código da Impressora..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Código da Impressora..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Central de Alertas
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-bell-slash text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="font-weight">Não há novos alertas.</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Central de Mensagens
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-envelope text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Não há novas mensagens</div>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray small" data-username></span>
                                <div class="icon-circle ">
                                    <i class="fas fa-user"></i>
                                </div>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-history>
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Histórico
                                </a>
                                <a class="dropdown-item" href="#" data-config>
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Gerenciamento
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Sair
                                </a>
                            </div>
                        </li>
                        <div class="container-fluid bg-gradient-primary fixed-menu responsive">
                            <div class="collapse text-center p-4 responsive" id="navbarResponsive">
                                <ul class="text-uppercase ml-auto" id="accordionSidebar">
                                    <div class="text-center">
                                        <a class="menuPrincipal navbar-toggler-icon fixed-top-menu text-center"
                                            type="button" data-toggle="collapse" data-target="#navbarResponsive"
                                            aria-controls="navbarResponsive" aria-expanded="false"></a>
                                    </div>
                                    <li class="nav-item ">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                            data-target="#collapseReportes" aria-expanded="true"
                                            aria-controls="collapseReportes">
                                            <i style="padding: 10px;" class="fas fa-print"></i>
                                            <span>Máquinas</span>
                                        </a>
                                        <div id="collapseReportes" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionSidebar">
                                        <div class="bg-white collapse-inner rounded">
                                            <a class="nav-link text-secondary" href="" id="btnChao" data-toggle="collapse" data-target="#navbarResponsive,#collapseReportes"
                                             data-btninforme>Visão de Chão de Fábrica</a>
                                             <a class="nav-link text-secondary" href="" id="btnImpressoras" data-toggle="collapse" data-target="#navbarResponsive,#collapseReportes"
                                             data-btninforme>Lista de Impressoras</a>
                                             <a class="nav-link text-secondary" href="" id="btnCartuchos" data-toggle="collapse" data-target="#navbarResponsive,#collapseReportes"
                                             data-btninforme>Lista de Cartucheiras</a>
                                             <a class="nav-link text-secondary" href="" id="btnCorteVinco" data-toggle="collapse" data-target="#navbarResponsive,#collapseReportes"
                                                 data-btninforme>Lista de Corte e vinco</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                            data-target="#collapseFinance" aria-expanded="true"
                                            aria-controls="collapseFinance">
                                            <i style="padding: 10px;" class="fas fa-balance-scale"></i>
                                            <span>Financeiro</span>
                                        </a>
                                        <div id="collapseFinance" class="collapse" aria-labelledby="headingUtilities"
                                            data-parent="#accordionSidebar">
                                            <div class="bg-white collapse-inner rounded">
                                                <a class="nav-link text-secondary" href="" id="btnFinanceiro" data-toggle="collapse" data-target="#navbarResponsive,#collapseFinance"
                                                id="btnPunto">Lista de Relatórios</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                            data-target="#collapsePersonas" aria-expanded="true"
                                            aria-controls="collapsePersonas">
                                            <i style="padding: 10px;" class="fas fa-chart-line"></i>
                                            <span>Vendas</span>
                                        </a>
                                        <div id="collapsePersonas" class="collapse" aria-labelledby="headingUtilities"
                                            data-parent="#accordionSidebar">
                                            <div class="bg-white collapse-inner rounded">
                                                <a class="nav-link text-secondary" href="" id="btnVendas" data-toggle="collapse" data-target="#navbarResponsive,#collapsePersonas"
                                                id="btnPunto">Lista de Relatórios</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                            data-target="#collapseOper" aria-expanded="true"
                                            aria-controls="collapseOper">
                                            <i style="padding: 10px;" class="fas fa-cogs"></i>
                                            <span>Operacional</span>
                                        </a>
                                        <div id="collapseOper" class="collapse" aria-labelledby="headingUtilities"
                                            data-parent="#accordionSidebar">
                                            <div class="bg-white collapse-inner rounded">
                                                <a class="nav-link text-secondary" href="" id="btnOperacional" data-toggle="collapse" data-target="#navbarResponsive,#collapseOper"
                                                id="btnPunto">Lista de Relatórios</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                            data-target="#collapseRepre" aria-expanded="true"
                                            aria-controls="collapseRepre">
                                            <i style="padding: 10px;" class="fas fa-users"></i>
                                            <span>Representantes</span>
                                        </a>
                                        <div id="collapseRepre" class="collapse" aria-labelledby="headingUtilities"
                                            data-parent="#accordionSidebar">
                                            <div class="bg-white collapse-inner rounded">
                                                <a class="nav-link text-secondary" href="" id="btnRepresentantes" data-toggle="collapse" data-target="#navbarResponsive,#collapseRepre"
                                                id="btnPunto">Lista de Relatórios</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item" data-adm>
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                            data-target="#collapseAdmin" aria-expanded="true"
                                            aria-controls="collapseAdmin">
                                            <i style="padding: 10px;" class="fas fa-user-cog fa-folder"></i>
                                            <span>Administração</span>
                                        </a>
                                        <div id="collapseAdmin" class="collapse" aria-labelledby="headingPages"
                                            data-parent="#accordionSidebar">
                                            <div class="bg-white collapse-inner rounded">
                                                <a class="nav-link text-secondary" href="" data-toggle="collapse" data-target="#navbarResponsive,#collapseAdmin" 
                                                data-btn-users>Lista de usuários</a>
                                                <a class="nav-link text-secondary" href="" data-toggle="collapse" data-target="#navbarResponsive,#collapseAdmin"
                                                data-btn-create>Cadastrar novo usuário</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </nav>
            </header>

            <div id="content">
                <div class="container-fluid">
                    <div class="col-lg-12 text-center">
                        <h1 class="h3 mb-2 font-weight-bold text-primary" data-title></h1>
                    </div>
                    <div class="row" data-card></div>
                    <div class="col-lg-12 text-center">
                        <div class="row" data-powerbi></div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" data-loading></div>
                    <table class="table text-center" data-table>
                        <thead data-table-head></thead>
                        <tbody data-table-body></tbody>
                    </table>
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>© 2021 Pagan Consultoria - Todos os Direitos Reservados.</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deseja finalizar a sessão?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione sair para finalizar a sessão.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="#" onclick="onLogout()">Sair</a>
                </div>
            </div>
        </div>
    </div>

    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
    <script src="../js/libs/sb-admin-2.min.js"></script>
    <script type="module" src="../js/controllers/dashboardController.js"></script>
    <script type="module" src="../js/controllers/powerBiController.js"></script>
    <script type="module" src="../js/controllers/userController.js"></script>
    <script type="module" src="../js/controllers/historyController.js"></script>
    <script type="module" src="../js/controllers/loginController.js"></script>

    <div data-modal></div>

</body>

</html>