<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="site">
    <meta name="author" content="raphael martinez batista">
    <title>GRÁFICA CANASTRA | Portal</title>
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top sidebar">
    <div id="wrapper  ">
        <div id="content-wrapper " class="d-flex flex-column">
            <header>
                <nav class="navbar navbar-expand navbar-dark bg-gradient-primary sticky-top topbar shadow "
                    id="mainNav">

                    <a class="sidebar-brand d-flex align-items-center justify-content-center">
                        <div class="mb-2 sidebar-brand-icon mx-auto">
                            <img src="../img/logo.png" width="130" alt="Ansa Logo">
                        </div>
                    </a>

                    <hr class="sidebar-divider my-0">

                    <ul class="navbar-nav ml-auto">
 
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray small" data-username></span>
                                <div class="icon-circle ">
                                    <i class="fas fa-user"></i>
                                </div>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Sair
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>


            <div id="content">
                <div class="container-fluid">
                    <div class="col-lg-12 text-center">
                        <h1 class="h3 mb-2 font-weight-bold text-primary" data-title></h1>
                    </div>
                    <div class="col-lg-12 text-center">
                        <div class="row-fluid text-center" data-powerbi></div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" data-loading></div>
                    <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0"></table>
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>© 2021 Pagan Consultoria - Todos os Direitos Reservados.</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deseja finalizar a sessão?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione sair para finalizar a sessão.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="#" onclick="onLogoutCod()">Sair</a>
                </div>
            </div>
        </div>
    </div>

    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
    <script src="../js/libs/sb-admin-2.min.js"></script>
    <script type="module" src="../js/controllers/loginController.js"></script>
    <script type="module" src="../js/controllers/codController.js"></script>
    <script src="../js/services/force.js"></script>
    <script src="../js/libs/jquery.dataTables.min.js"></script>
    <script src="../js/libs/dataTables.bootstrap4.min.js"></script>
    <script src="../js/libs/dataTables.buttons.min.js"></script>
    <script src="../js/libs/jszip.min.js"></script>
    <script src="../js/libs/pdfmake.min.js"></script>
    <script src="../js/libs/pdfmake_vfs_fonts.min.js"></script>
    <script src="../js/libs/buttons.html5.min.js"></script>
    <script src="../js/libs/buttons.print.min.js"></script>
    <script src="../js/libs/geradorarquivo.min.js"></script>

    <div data-modal></div>

</body>

</html>