<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Portal Canastra</title>
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center p-4">
                                        <h1 class="h4 m-4 font-weight-bold text-gray-900 ">Portal Canastra</h1>
                                        <img class="" src="../img/canastra.png" alt="">
                                    </div>
                                    <hr>
                                    <form id="formCod" action="#" class="user" data-form>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user text-center"
                                                placeholder="Código da Máquina" data-cod>
                                            </div>
                                            <div class="form-group">
                                                <button class="g-recaptcha btn btn-primary btn-user btn-block
                                                "data-sitekey="6LeJV9UaAAAAAF0VrDRlauTB4KcbVcLSIJYWYAeF"
                                                    data-callback='onSubmitCod' data-action='submit' id="btnLogin">
                                                    Acessar
                                                </button>
                                            </div>
                                            <hr>
                                            <div class="text-center">
                                                <a class="small" href="#" onclick="onMail()">Acesso via E-mail e Senha</a>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="../js/libs/sb-admin-2.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="module" src="../js/controllers/loginController.js"></script>
</body>

</html>