<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LOGISTICA
</title>
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/touch-icon-iphone.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/touch-icon-iphone.png">
    <link href="../css/sb-admin-2.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-5 col-lg-12">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0 ">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img class="img-fluid mx-auto" src="../img/launch.png" alt="">
                                    </div>
                                    <form id="formLogin" action="#" class="user" data-form>

                                        <div class="form-group pt-3">
                                            <input type="email" class="form-control form-control-user text-center"
                                                id="exampleInputEmail" aria-describedby="emailHelp" placeholder="E-mail"
                                                data-mail>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user text-center"
                                                placeholder="Contrasenã" data-password>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Recuerda
                                                    Me</label>
                                            </div>
                                        </div>
                                        <a href="" class="btn btn-danger btn-user btn-block" onclick="login(event)" id="btnLogin">
                                            Login
                                        </a>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="../js/libs/sb-admin-2.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="module" src="../js/controllers/loginController.js"></script>
</body>

</html>